<!DOCTYPE html>
<html>
<head>
  <title>Thermostat</title>
</head>
<body>
  <article>
    <h1>Thermostat</h1>
    <section class="temperature">
      <h2 class="temp_display"></h2>
    </section>
    <section class="power_saving_mode">
      <h2 class="psm_display"></h2>
    </section>
    <section class="energy_usage">
      <p class="energy_usage_display"></p>
    </section>
    <section class="temperature_buttons">
      <button type="button" name="decrease">Colder</button>
      <button type="button" name="increase">Hotter</button>
      <button type="button" name="reset">Reset</button>
    </section>
    <section class="power_mode">
      <button type="button" name="on">PSM On</button>
      <button type="button" name="off">PSM Off</button>
    </section>
  </article>
  <aside class="image">
    <img src="" alt="">
  </aside>
  <script src="../src/thermostat.js"></script>
</body>
<footer>
</footer>
</html>
