<!DOCTYPE html>
<html>
<head>
  <title>Thermostat</title>

</head>
<body>
  <article>
    <h1>Thermostat</h1>
    <section class="temperature">
      <h2 class="temp_display"></h2>
    </section>
    <section class="power_saving_mode">
      <h2 class="psm_display">Power saving mode is on</h2>
    </section>
    <section class="energy_usage">
      <p class="energy_usage_display"></p>
    </section>
    <section class="temperature_buttons">
      <button class="decrease" type="button" name="decrease">Colder</button>
      <button class="increase" type="button" name="increase">Hotter</button>
      <button class="reset" type="button" name="reset">Reset</button>
    </section>
    <section class="power_mode">
      <button class="psm_on" type="button" name="on">PSM On</button>
      <button class="psm_off" type="button" name="off">PSM Off</button>
    </section>
  </article>
  <aside class="image">
    <img src="" alt="">
  </aside>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="../src/thermostat.js"></script>
  <script src="../src/interface.js"></script>
</body>
<footer>
</footer>
</html>
