<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Bootstrap -->

    <link href="../public/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../src/style.css" type="text/css"/>

    <!-- <script src="../public/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../src/thermostat.js"></script>
    <script src="../src/interface.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
    <link href=“https://fonts.googleapis.com/css?family=Roboto+Mono:700” rel=“stylesheet”>    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
  <title>Thermostat</title>
</head>
<body>
  <div class="container-fluid">
    <div>
    <div class="row">

  <div class="weather-container col-sm-6">

  <article class="centered-content">

    <h1>Weather for</h1>

    <div class="input-group">
          <span class="input-group-btn">
            <button class="btn btn-default city" type="button">Go!</button>
          </span>
          <input type="text" class="form-control" placeholder="Search for a city's current tempertature">
    </div>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" id='city' type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Select City
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" id='citylist' aria-labelledby="dropdownMenu1">
    <li><a href="#">London</a></li>
    <li><a href="#">Severodvinsk</a></li>
    <li><a href="#">Mexico City</a></li>
    <li><a href="#">Paris</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
<p class='city-name-display'>-</p>
<p class="weather-status">-</p>
<p class="humidity-status">-</p>
</article>
</div>

<div class="thermostat-container col-sm-6">

  <article class="centered-content">

    <h1>Thermostat</h1>
    <section class="temperature">
      <h2 id="temp_display"></h2>
    </section>
    <section class="power_saving_mode">
      <h2 class="psm_display">Power saving mode is on</h2>
    </section>
    <section class="energy_usage">
      <p>Energy</p>
      <p class="energy_usage_display">medium-usage</p>
    </section>
    <section class="temperature_buttons">
      <button class="decrease btn-default" name="decrease">Colder</button>
      <button class="increase btn-default" type="button" name="increase">Hotter</button>
      <button class="reset btn-default" type="button" name="reset">Reset</button>
    </section>
    <section class="power_mode">
      <button class="psm_on btn-default" type="button" name="on">PSM On</button>
      <button class="psm_off btn-default" type="button" name="off">PSM Off</button>
    </section>
  </article>
  <aside class="image">
    <!-- <img src="" alt=""> -->
  </aside>

</div>

  </div>

  </div>

</div>

  <footer>
  </footer>
</body>

</html>
